body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#navbar {
    background-color: #e86f05;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    display: none;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.active {
    display: block;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    background-color: #e9e9e9;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.dashboard-item {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width:300px;
    
}
.dashboard-item button{
    transition: .5s;
    background: #0817e1;
}

.dashboard-item button:hover{
    letter-spacing: 1px;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px #0817e1,
                0 0 10px #0817e1,
                0 0 30px #0817e1,
                0 0 70px #0817e1,
                0 0 130px #0817e1;
}